span.label
        {
            padding-right:1em;
        }
        span.content
        {
            display:inline-block;
            width:4em;
            background-color:#d6d3a7;
            color:"red";
        }
        div.btns input[type="button"]
        {
            float:left;
            margin-left:1px;
            margin-right:1px;
            margin-top:3px;
            margin-bottom:3px;
        }
        div.btns
        {
            background-color:#abafc9;
            height:27px;
            padding-left:10px;
        }
        #mainForm
        {
            display:inline-block;
            width:680px;
            height:550px;
        }
        #panelControl
        {
            background-color:#b5d5d3;
        }
        #panelScore
        {
            text-align:center;
            border-color:black;
            border-style:solid;
            border-width:3px;
        }
        #playPanel
        {
            width:659px;
            height:439px;
            margin-top:10px;
            margin-left:5px;
            display:inline-block;
            border-width:3px;
            border-style:groove;
            border-color:black;
            background-color:gray;
            float:left;
        }